.App {
  text-align: center;
}

/* Remove styles you don't need, like .App-logo, .App-header, etc. */

/* Add your table styles here */
table {
  width: 100%;
  border-collapse: collapse;
  margin: auto; /* Center the table */
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd; /* Adds vertical lines between columns */
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Styles for pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: 1px solid #ddd;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f8f8f8;
}

.pagination button:hover {
  background-color: #e2e2e2;
}

/* Clear float */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
